In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv("CKD.csv")

In [5]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [7]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)

In [9]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [11]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [13]:
independent=dataset[[ 'age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes',]]

In [15]:
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [17]:
dependent=dataset[['classification_yes']]

In [19]:
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [23]:
from sklearn.naive_bayes import MultinomialNB
from sklearn. model_selection import GridSearchCV
param_grid = {'alpha':[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0], 
              'fit_prior':[True,False], 
              'class_prior':[None]}
 
grid = GridSearchCV(MultinomialNB(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
grid.fit(independent,dependent)  
print("Best parameters found: ", grid.best_params_)
y_pred = grid.predict(independent)
print("Predictions: ", dependent)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
Best parameters found:  {'alpha': 0.1, 'class_prior': None, 'fit_prior': True}
Predictions:       classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

C:\Users\user\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [25]:
re=grid.cv_results_
grid_predictions=grid.predict(independent)

In [27]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(dependent,grid_predictions)

In [29]:
print(cm)

[[145   5]
 [ 39 210]]

In [31]:
from sklearn.metrics import classification_report
clf_report=classification_report(dependent,grid_predictions)

In [33]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.79      0.97      0.87       150
           1       0.98      0.84      0.91       249

    accuracy                           0.89       399
   macro avg       0.88      0.91      0.89       399
weighted avg       0.91      0.89      0.89       399

In [35]:
from sklearn.metrics import f1_score
f1_macro=f1_score(dependent,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'alpha': 0.1, 'class_prior': None, 'fit_prior': True}: 0.8912968721618211

In [37]:
from sklearn.metrics import roc_auc_score
roc_auc_score(dependent,grid.predict_proba(independent)[:,1])

0.9623025435073628

In [39]:
table=pd.DataFrame.from_dict(re)

In [41]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_class_prior,param_fit_prior,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.034972,0.004816,0.017661,0.003963,0.1,None,True,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.700000,0.901535,0.938022,0.938259,0.936901,0.882943,0.092541,1
1,0.024511,0.007947,0.019176,0.002737,0.1,None,False,"{'alpha': 0.1, 'class_prior': None, 'fit_prior...",0.700000,0.901535,0.938022,0.926015,0.936901,0.880495,0.091197,2
2,0.011483,0.003901,0.019694,0.003918,0.2,None,True,"{'alpha': 0.2, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.925781,0.926015,0.936901,0.870147,0.099998,3
3,0.012140,0.004489,0.020497,0.002430,0.2,None,False,"{'alpha': 0.2, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.925781,0.926015,0.924484,0.867664,0.098452,4
4,0.011125,0.008347,0.017345,0.005190,0.3,None,True,"{'alpha': 0.3, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.925781,0.926015,0.924484,0.867664,0.098452,4
5,0.009142,0.004825,0.019080,0.001917,0.3,None,False,"{'alpha': 0.3, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.925781,0.926015,0.924484,0.867664,0.098452,4
6,0.010234,0.002554,0.016881,0.006255,0.4,None,True,"{'alpha': 0.4, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,7
7,0.009931,0.005137,0.014999,0.005453,0.4,None,False,"{'alpha': 0.4, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,7
8,0.007285,0.003963,0.019401,0.002960,0.5,None,True,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,7
9,0.012122,0.001530,0.012203,0.002334,0.5,None,False,"{'alpha': 0.5, 'class_prior': None, 'fit_prior...",0.672764,0.889274,0.913563,0.926015,0.924484,0.865220,0.097122,7
10,0.008228,0.002551,0.014629,0.004866,0.6,None,True,"{'alpha': 0.6, 'class_prior': None, 'fit_prior...",0.672764,0.876984,0.913563,0.926015,0.924484,0.862762,0.096636,11
11,0.013481,0.004027,0.013794,0.004048,0.6,None,False,"{'alpha': 0.6, 'class_prior': None, 'fit_prior...",0.672764,0.876984,0.913563,0.926015,0.924484,0.862762,0.096636,11
12,0.009132,0.002162,0.017709,0.004370,0.7,None,True,"{'alpha': 0.7, 'class_prior': None, 'fit_prior...",0.672764,0.876984,0.913563,0.926015,0.924484,0.862762,0.096636,11
13,0.009503,0.002402,0.015508,0.004303,0.7,None,False,"{'alpha': 0.7, 'class_prior': None, 'fit_prior...",0.658856,0.876984,0.913563,0.913778,0.924484,0.857533,0.100634,15
14,0.009365,0.006965,0.017327,0.004190,0.8,None,True,"{'alpha': 0.8, 'class_prior': None, 'fit_prior...",0.672764,0.876984,0.913563,0.913778,0.924484,0.860315,0.095147,14
15,0.007059,0.003708,0.016537,0.003577,0.8,None,False,"{'alpha': 0.8, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.913563,0.913778,0.924484,0.855067,0.100278,17
16,0.007733,0.004679,0.016940,0.003747,0.9,None,True,"{'alpha': 0.9, 'class_prior': None, 'fit_prior...",0.658856,0.876984,0.913563,0.913778,0.924484,0.857533,0.100634,15
17,0.013738,0.004370,0.016513,0.003706,0.9,None,False,"{'alpha': 0.9, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.901354,0.901535,0.924484,0.850177,0.097562,19
18,0.011184,0.002115,0.019903,0.002965,1.0,None,True,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.913563,0.913778,0.924484,0.855067,0.100278,17
19,0.010839,0.000576,0.011980,0.001787,1.0,None,False,"{'alpha': 1.0, 'class_prior': None, 'fit_prior...",0.658856,0.864654,0.901354,0.901535,0.924484,0.850177,0.097562,19