In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
0    15624510   19            19000          0            1
1    15810944   35            20000          0            1
2    15668575   26            43000          0            0
3    15603246   27            57000          0            0
4    15804002   19            76000          0            1
..        ...  ...              ...        ...          ...
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

[400 rows x 5 columns]

In [6]:
dataset=dataset.drop("User ID",axis=1)

In [7]:
dataset

     Age  EstimatedSalary  Purchased  Gender_Male
0     19            19000          0            1
1     35            20000          0            1
2     26            43000          0            0
3     27            57000          0            0
4     19            76000          0            1
..   ...              ...        ...          ...
395   46            41000          1            0
396   51            23000          1            1
397   50            20000          1            0
398   36            33000          0            1
399   49            36000          1            0

[400 rows x 4 columns]

In [8]:
dataset["Purchased"].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [9]:
independent=dataset[[ 'Age', 'EstimatedSalary','Gender_Male']]

In [10]:
independent

     Age  EstimatedSalary  Gender_Male
0     19            19000            1
1     35            20000            1
2     26            43000            0
3     27            57000            0
4     19            76000            1
..   ...              ...          ...
395   46            41000            0
396   51            23000            1
397   50            20000            0
398   36            33000            1
399   49            36000            0

[400 rows x 3 columns]

In [11]:
dependent=dataset[['Purchased']]

In [12]:
dependent

     Purchased
0            0
1            0
2            0
3            0
4            0
..         ...
395          1
396          1
397          1
398          0
399          1

[400 rows x 1 columns]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [19]:
from sklearn.model_selection import GridSearchCV
param_grid= {'criterion':['gini','entropy','log_loss'],
            'max_features':['sqrt','log2',None],
             'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeClassifier(),param_grid,refit=True,verbose=3,n_jobs=1,scoring='f1_weighted') 
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits
[CV 1/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.826 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.815 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.832 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.925 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=sqrt, splitter=best;, score=0.844 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.775 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.814 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.777 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.905 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=sqrt, splitter=random;, score=0.925 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=log2, splitter=best;, score=0.883 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=log2, splitter=best;, score=0.889 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=log2, splitter=best;, score=0.759 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=log2, splitter=best;, score=0.887 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=log2, splitter=best;, score=0.847 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=log2, splitter=random;, score=0.783 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=log2, splitter=random;, score=0.791 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=log2, splitter=random;, score=0.813 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=log2, splitter=random;, score=0.905 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=log2, splitter=random;, score=0.791 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=None, splitter=best;, score=0.850 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=None, splitter=best;, score=0.849 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=None, splitter=best;, score=0.833 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=None, splitter=best;, score=0.870 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=None, splitter=best;, score=0.925 total time=   0.0s
[CV 1/5] END criterion=gini, max_features=None, splitter=random;, score=0.847 total time=   0.0s
[CV 2/5] END criterion=gini, max_features=None, splitter=random;, score=0.815 total time=   0.0s
[CV 3/5] END criterion=gini, max_features=None, splitter=random;, score=0.758 total time=   0.0s
[CV 4/5] END criterion=gini, max_features=None, splitter=random;, score=0.814 total time=   0.0s
[CV 5/5] END criterion=gini, max_features=None, splitter=random;, score=0.905 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.805 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.849 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.738 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.925 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=sqrt, splitter=best;, score=0.887 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.788 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.814 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.740 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.811 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=sqrt, splitter=random;, score=0.905 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.783 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.829 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.832 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.906 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=log2, splitter=best;, score=0.924 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.752 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.852 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.813 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.811 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=log2, splitter=random;, score=0.883 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=None, splitter=best;, score=0.812 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=None, splitter=best;, score=0.869 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=None, splitter=best;, score=0.832 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=None, splitter=best;, score=0.907 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=None, splitter=best;, score=0.925 total time=   0.0s
[CV 1/5] END criterion=entropy, max_features=None, splitter=random;, score=0.867 total time=   0.0s
[CV 2/5] END criterion=entropy, max_features=None, splitter=random;, score=0.811 total time=   0.0s
[CV 3/5] END criterion=entropy, max_features=None, splitter=random;, score=0.795 total time=   0.0s
[CV 4/5] END criterion=entropy, max_features=None, splitter=random;, score=0.844 total time=   0.0s
[CV 5/5] END criterion=entropy, max_features=None, splitter=random;, score=0.943 total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=sqrt, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=sqrt, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=log2, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=log2, splitter=random;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=None, splitter=best;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=None, splitter=best;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=None, splitter=best;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=None, splitter=best;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=None, splitter=best;, score=nan total time=   0.0s
[CV 1/5] END criterion=log_loss, max_features=None, splitter=random;, score=nan total time=   0.0s
[CV 2/5] END criterion=log_loss, max_features=None, splitter=random;, score=nan total time=   0.0s
[CV 3/5] END criterion=log_loss, max_features=None, splitter=random;, score=nan total time=   0.0s
[CV 4/5] END criterion=log_loss, max_features=None, splitter=random;, score=nan total time=   0.0s
[CV 5/5] END criterion=log_loss, max_features=None, splitter=random;, score=nan total time=   0.0s

C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 942, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\user\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.84868488 0.83901824 0.85298743 0.81658128 0.86541285 0.82793744
 0.84071831 0.81154569 0.85473477 0.82235828 0.86898814 0.85229352
        nan        nan        nan        nan        nan        nan]
  category=UserWarning,

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['sqrt', 'log2', None],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [20]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,grid_predictions)

In [22]:
print(cm)

[[77  8]
 [ 9 40]]

In [23]:
from sklearn.metrics import classification_report
clf_report=classification_report(y_test,grid_predictions)

In [24]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.90      0.91      0.90        85
           1       0.83      0.82      0.82        49

    accuracy                           0.87       134
   macro avg       0.86      0.86      0.86       134
weighted avg       0.87      0.87      0.87       134

In [25]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': None, 'splitter': 'best'}: 0.8728513338534315

In [26]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.8611044417767106

In [27]:
table=pd.DataFrame.from_dict(re)

In [28]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006016,0.008215,0.002501,0.005003,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.826263,0.815037,0.832483,0.925272,0.844370,0.848685,0.039450,6
1,0.001601,0.003202,0.000000,0.000000,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.774691,0.813511,0.777291,0.905069,0.924528,0.839018,0.063676,8
2,0.000000,0.000000,0.001613,0.003226,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.882858,0.889022,0.759244,0.886792,0.847020,0.852987,0.049309,4
3,0.003125,0.006249,0.000000,0.000000,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.782557,0.790949,0.813179,0.905069,0.791152,0.816581,0.045394,11
4,0.000000,0.000000,0.000000,0.000000,gini,None,best,"{'criterion': 'gini', 'max_features': None, 's...",0.849794,0.849057,0.833323,0.870362,0.924528,0.865413,0.031813,2
5,0.003126,0.006251,0.000000,0.000000,gini,None,random,"{'criterion': 'gini', 'max_features': None, 's...",0.847141,0.815037,0.758030,0.814409,0.905069,0.827937,0.048072,9
6,0.000000,0.000000,0.000000,0.000000,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.804764,0.849057,0.738451,0.924528,0.886792,0.840718,0.064758,7
7,0.003126,0.006251,0.000000,0.000000,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.787654,0.813511,0.740173,0.811321,0.905069,0.811546,0.053694,12
8,0.000000,0.000000,0.006249,0.007654,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.782557,0.828959,0.832483,0.906166,0.923510,0.854735,0.052430,3
9,0.000707,0.001414,0.000911,0.001822,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.751984,0.852030,0.813179,0.811321,0.883278,0.822358,0.044159,10
10,0.003233,0.003973,0.000000,0.000000,entropy,None,best,"{'criterion': 'entropy', 'max_features': None,...",0.812243,0.868752,0.832483,0.906935,0.924528,0.868988,0.042608,1
11,0.003129,0.006257,0.000000,0.000000,entropy,None,random,"{'criterion': 'entropy', 'max_features': None,...",0.867478,0.811321,0.795256,0.844370,0.943041,0.852294,0.051886,5
12,0.000000,0.000000,0.000000,0.000000,log_loss,sqrt,best,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
13,0.003126,0.006252,0.000000,0.000000,log_loss,sqrt,random,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
14,0.006250,0.007655,0.000000,0.000000,log_loss,log2,best,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
15,0.003125,0.006250,0.000000,0.000000,log_loss,log2,random,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
16,0.003124,0.006249,0.000000,0.000000,log_loss,None,best,"{'criterion': 'log_loss', 'max_features': None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
17,0.003177,0.001782,0.000000,0.000000,log_loss,None,random,"{'criterion': 'log_loss', 'max_features': None...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18